<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.damonbaker.strikedimageview">

    <application

        android:allowBackup="true"
        android:allowClearUserData="true"
        android:allowClearUserDataOnFailedRestore="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:label="TestStrike"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute,m"
        tools:replace="android:fullBackupContent"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity
            android:name=".MainAct"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
